body{
    font-family: 'Poppins', sans-serif; 
    margin: 0px;

}
h1{
    font-size: 50px;
}
.Orange{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 3%;
}
.half-width img{
    width: 70%;
    padding-left: 7%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange , tomato );
    padding: 8px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.top-ban{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    text-align: justify;
}
.Experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Experience-items{
    width: 40%;
    margin-left: 3%;
    margin-right: 3%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    box-shadow: 10px 10px 40px rgb(146, 142, 142);
}
#Full-Stack-Web-Developer{
    border-left:  7px solid;
    border-image: linear-gradient(salmon, tomato) 1;

}
#Baby-Web-Developer{
   border-left:  7px solid;
    border-image: linear-gradient(darkblue, darkorchid) 1;
}
footer p{
    text-align: center;
}